# Ignore configuration files that may contain sensitive information.
/messagebroker-config

# Ignore composer working files
composer.lock
/vendor/

# Ignore testing working files
tests/phpunit.xml

# Ignore OSX system files
.DS_Store

# Ignore .csv import files
*.csv
/data/

# Ignore NPM magic
node_modules

# PHPStorm
.idea

